@model ContractSystem_Blogic.ViewModels.ConsultantContractViewModel

<style>
    /* Custom CSS styles */
    body, html {
        height: 100%;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        flex-wrap: wrap;
    }

    .contract-link {
        text-decoration: none;
        color: black;
    }

    .contract-item {
        color: black;
        border: 2px solid orangered;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        transition: background-color 0.3s ease;
    }

        .contract-item:hover {
            color: black;
            background-color: #ffece3;
        }

    .property-row {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .property-label {
        font-weight: bold;
        margin-right: 5px;
    }

    .property-value {
        color: black;
        text-decoration: none;
    }

</style>

<div class="row">
    <div class="column" style="flex-basis:40%;">
        <img style="width:250px;height:250px;" src="@Model.Consultant.ProfilePicture" alt="Person Image">
        <h2>@Model.Consultant.FirstName @Model.Consultant.LastName</h2>
        <p>Consultant</p>
        <p>Email: @Model.Consultant.Email</p>
        <p>Phone Number: @Model.Consultant.PhoneNumber</p>
        <p>Identification Number: @Model.Consultant.IdentificationNumber</p>
        <p>Age: @Model.Consultant.Age</p>

        <div style="margin-top:10px;" class="form-group text-center">
            <a asp-action="UpdateConsultant" asp-route-consultantId="@Model.Consultant.Id" class="btn btn-orange">Edit</a>
            <a data-toggle="modal" data-target="#exampleModal" class="btn btn-danger">Delete</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
    <div class="column" style="flex-basis:60%;">
        <h2>Consultant's contracts</h2>
        <div class="list-group">
            @foreach (var contract in Model.Contracts)
            {
                <a asp-controller="Contract" asp-action="ContractDetail" asp-route-contractId="@contract.Id" class="contract-link">
                    <div class="contract-item">
                        <div class="property-row">
                            <div class="property-label">RN:</div>
                            <div class="property-value">@contract.RegistrationNumber</div>
                        </div>
                        <div class="property-row">
                            <div class="property-label">Managed by:</div>
                            <div class="property-value">@contract.ContractManager.FirstName @contract.ContractManager.LastName</div>
                        </div>
                        <div class="property-row">
                            <div class="property-label">Client:</div>
                            <div class="property-value">@contract.Client.FirstName @contract.Client.LastName</div>
                        </div>
                        <div class="property-row">
                            <div class="property-label">End Date:</div>
                            <div class="property-value">@contract.EndDate.Day/@contract.EndDate.Month/@contract.EndDate.Year</div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete client: @Model.Consultant.FirstName @Model.Consultant.LastName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to permanently delete this client?</p>
            </div>
            <div class="modal-footer">
                <a asp-action="DeleteConsultant" asp-route-consultantId="@Model.Consultant.Id" class="btn btn-orange">Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>