@model ContractSystem_Blogic.ViewModels.ContractCUViewModel

@{
    ViewData["Title"] = "Create";
}

<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 style="color:orangered">Add New Contract</h2>

            @if (ViewData["CreateFlag"] != null)
            {
                <div style="padding:5px; margin-bottom:10px;" class="alert-danger view-data">
                    @ViewData["CreateFlag"]
                </div>
            }

            <form asp-action="CreateContract" method="post" id="contractForm" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="@Model.Contract.RegistrationNumber">Registration Number</label>
                    <input asp-for="@Model.Contract.RegistrationNumber" class="form-control" required />
                    <span asp-validation-for="@Model.Contract.RegistrationNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Select a client:</label>
                    <select asp-for="@Model.Contract.ClientId" style="width:100%;" id="selectedClient" required>
                        <option value="">Select a client</option>
                        @foreach (var client in Model.Clients)
                        {
                            <option value="@client.Id">@client.FirstName @client.LastName</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Select Contract Manager:</label>
                    <select asp-for="@Model.Contract.ContractManagerId" style="width:100%;" id="selectedManager" required>
                        <option value="">Select contract manager</option>
                        @foreach (var consultant in Model.Consultants)
                        {
                            <option value="@consultant.Id">@consultant.FirstName @consultant.LastName</option>
                        }
                    </select>
                </div>

                @if (Model.Consultants != null && Model.Consultants.Any())
                {
                    <div class="form-group">
                        <label>Select Consultants:</label>
                        <select asp-for="@Model.Contract.ConsultantIds" style="width:100%;" multiple id="selectedConsultants">
                            @foreach (var consultant in Model.Consultants)
                            {
                                <option value="@consultant.Id">@consultant.FirstName @consultant.LastName</option>
                            }
                        </select>
                    </div>
                }

                <div class="form-group">
                    <label>Select an institution:</label>
                    <select asp-for="@Model.Contract.InstitutionId" style="width:100%;" id="selectedInstitution" required>
                        <option value="">Select a institution</option>
                        @foreach (var institution in Model.Institutions)
                        {
                            <option value="@institution.Id">@institution.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Select Closure Date:</label>
                    <input asp-for="@Model.Contract.ClosureDate" type="date" id="closureDate" class="form-control" required />
                </div>

                <div class="form-group">
                    <label>Select Start Date:</label>
                    <input asp-for="@Model.Contract.StartDate" type="date" id="startDate" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label>Select End Date:</label>
                    <input asp-for="@Model.Contract.EndDate" type="date" id="endDate" class="form-control" required />
                </div>


                <div style="margin-top:10px;" class="form-group text-center">
                    <button type="submit" class="btn btn-orange">Create</button>
                    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#contractForm').on('submit', function (event) {
        var closureDate = new Date($('#closureDate').val());
        var startDate = new Date($('#startDate').val());
        var endDate = new Date($('#endDate').val());

        if (closureDate >= endDate || startDate >= endDate || closureDate > startDate) {
            event.preventDefault();
            alert('Please enter the dates correctly. Closure and start dates can not be after end date, and closure date can not be after start date.');
        }
    });

    $(function () {
        $("#datepicker").datepicker();
    });

    $(document).ready(function () {
        $('#selectedClient').select2();
        $('#selectedInstitution').select2();
        $('#selectedManager').select2();
        $('#selectedConsultants').select2();

        var selectedManager = $('#selectedManager').val();

        $('#selectedManager').on('change', function () {
            selectedManager = $(this).val();

            $('#selectedConsultants').val(selectedManager).trigger('change');
        });

        $('#selectedConsultants').on('select2:unselect', function (e) {
            var removedConsultant = e.params.data.id;

            if (removedConsultant === selectedManager) {
                $('#selectedConsultants').val(selectedManager).trigger('change');
            }
        });
    });
</script>